<!DOCTYPE HTML>
<html lang="en" translate="no">

  <head>
    <meta charset="utf-8" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="HackDotslash5.0" />
    <meta property="og:title" content="Dotslash Hackathon: Root To Ideas" />
    <meta
      property="og:description"
      content="DotSlash​ is a 36 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
										platform for developers around the world to use their innovative skills to produce something new and
										useful for the society."
    />
    <meta
      name="Description"
      content="DotSlash​ is a 36 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
														platform for developers around the world to use their innovative skills to produce something new and
														useful for the society."
    />
    <meta property="og:image:secure_url" content="/img/logo_only.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:url" content="https://www.hackdotslash.co.in" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>DotSlash</title>
    <link rel="shortcut icon" type="image/png" href="/img/logo_only1.png" />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800i|Amaranth:700i|Kanit:700i|Lato:900i|Lato|Source+Sans+Pro:900i"
      rel="stylesheet"
    />

    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <link rel="stylesheet" href="css/owl.theme.default.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/herostyles.css" />
    <link rel="stylesheet" href="./css/background.css" />
    <link rel="stylesheet" href="./css/alumni.css" />
    <link rel="stylesheet" href="./css/animated.min.css" />
  </head>

  <body>
    <div style="overflow-x: hidden;">
      <!-- Hero -->
        <!-- Header -->
        <header id="header" class="transparent-navbar">
          <!-- container -->
          <div class="container">
            <!-- navbar header -->
            <div class="navbar-header">
              <!-- Logo -->
              <div class="navbar-brand">
                <a class="logo" href="/">
                  <img
                    class="logo-alt-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 55px;"
                  />
                   <img
                    class="logo-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 55px;"
                  />

                </a>
              </div>
              <!-- /Logo -->

              <!-- Mobile toggle -->
              <button class="navbar-toggle">
              <svg class="menu-icon"fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"/></svg>

              </button>
              <!-- /Mobile toggle -->
            </div>
            <!-- /navbar header -->

            <!-- Navigation -->
            <nav id="nav">
              <ul class="main-nav nav navbar-nav navbar-right">
                <li><a href="https://drive.google.com/file/d/15kLpmHq2rDHVMleS_x7e326blygRExFJ/view">Problem Statements</a></li>
                {{!-- <li><a href="/#about">About</a></li> --}}
                <li><a href="/prizes">Prizes</a></li>
                <li><a href="/#schedule">Schedule</a></li>
				<li><a href="/#judges">Judges</a></li>
				 <li><a href="/#mentors">Mentors</a></li>
                <li><a href="/#sponsors">Sponsors</a></li>
                <li><a href="/#faq">FAQs</a></li>
                {{!-- <li><a href="/#contact">Contact</a></li> --}}
                <li><a href="#">Alumni</a></li>

              </ul>
            </nav>
            <!-- /Navigation -->
          </div>
          <!-- /container -->
        </header>
        

        <!-- Alumni -->
        <div class="alumni-greet">
			<div class="greet-heading">
				<h1>A Big thanks to our Alumni</h1>
			</div>
			<div class="alumni-greet-msg container">
				<p>
					We would like to thank our alumni for their humongous
					contribution towards this event. Right from guiding us on
					how to conduct DotSlash, to agreeing to be the mentors and 
					sponsors on board for this Hackathon, they have taken out 
					the time for us and given us immense support and encouragement. 
					We appreciate all your help and efforts, Dotslash 5.0 couldn't 
					have been possible without you!
				</p>
			</div>
		</div>
		<div class="container alumni-display">
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_1.jpeg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/subham-agrawal-38a826174/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Subham Agarwal</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_2.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/vedant-dalal/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Vedant Dalal</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_3.jfif" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/littlestar642/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Avinash Jaiswal</div>
					<div class="card-body-position">Batch of 2016-2020</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_4.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/keshav-goyal-2807/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Keshav Goyal</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_5.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/rogin-koshy-aa5493144/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Rogin Koshy</div>
					<div class="card-body-position">Batch of 2016-2020</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_6.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/abhijeet-mathur-58b812153/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Abhijeet Mathur</div>
					<div class="card-body-position">Batch of 2016-2020</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_7.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/jaynil-shah-90814b179/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Jaynil Shah</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_8.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/akash-gangani/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Akash Gangani</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_9.jfif" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/akshay-busa-79608514b/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Akshay Busa</div>
					<div class="card-body-position">Batch of 2016-2020</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_10.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/jrathod9/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Jay Rathod</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_11.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/devrajat/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Rajat Sharma</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_12.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/punit-jain-5852a316b/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Punit Jain</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
			<div class="item">
				<div class="card-img">
					<img src="./img/alumni/alumni_13.jpg" alt="" />
				</div>
				<div class="alumni-contact">
					<a
						href="https://www.linkedin.com/in/ronik-gandhi-97675b14b/"
						rel="noopener noreferrer"
						target="_blank"
					>
						<i class="fa fa-linkedin"></i>
					</a>
				</div>
				<div class="card-body">
					<div class="card-body-name">Ronik Gandhi</div>
					<div class="card-body-position">Batch of 2017-2021</div>
				</div>
			</div>
		</div>
      <!-- /Alumni -->


      <!-- Footer -->
      <footer id="footer">
        <!-- container -->
        <div class="wave_box container">
          <!-- row -->
          <div class="row">
            <!-- footer logo -->
            <div class="col-md-4">
              <div class="footer-brand">
                <a class="logo" href="/">
                  <img
                    class="logo-img"
                    src="./img/2022/new_logo.png"
                    alt="logo"
                    style="max-height: 50px; margin-right: 7px"
                  /> 
                <span>Dot</span><span>Slash</span><span> 5.0</span>
                </a>
              </div>
            </div>
            <!-- /footer logo -->

            <!-- contact social -->
            <div class="col-md-8">
              <div class="contact-social">
                <a
                  href="https://www.facebook.com/hackatdotslash/"
                  rel="noopener noreferrer"
                  target="_blank"
                ><i class="fa fa-facebook" style="padding-top: 10px;"></i></a>
                <a
                  href="https://twitter.com/hackatdotslash"
                  rel="noopener noreferrer"
                  target="_blank"
                ><i class="fa fa-twitter" style="padding-top: 10px;"></i></a>
                <a
                  href="https://www.instagram.com/hackatdotslash/"
                  target="_blank"
                ><i class="fa fa-instagram" style="padding-top: 10px;"></i></a>
                <a
                  href="https://www.linkedin.com/company/hackatdotslash/"
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  <i class="fa fa-linkedin" style="padding-top: 10px;"></i>
                </a>
                <a href="mailto:keshav@hackdotslash.co.in" target="_blank"><i
                    class="fa fa-envelope"
                    style="padding-top: 10px;"
                  ></i></a>
              </div>
            </div>
            <!-- /contact social -->
            <div class="coc">
              <a href="/coc">Code of Conduct</a>
            </div>
            <div class="copyright">
              ©2022 DOTSLASH
            </div>
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </footer>
      <!-- /Footer -->
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    {{!-- <script src="js/prizes.js"></script> --}}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"
    ></script>
    <script src="./js/chatroom.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>