<!DOCTYPE html>
<html lang="en" translate="no">

<head>
  <meta charset="utf-8">
  <meta property="og:type" content="article" />
  <meta property="og:site_name" content="HackDotslash4.0">
  <meta property="og:title" content="Dotslash Hackathon: Root To Ideas" />
  <meta property="og:description" content="DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
              platform for developers around the world to use their innovative skills to produce something new and
              useful for the society." />
  <meta name="Description" content="DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
              platform for developers around the world to use their innovative skills to produce something new and
              useful for the society.">
  <meta property="og:image:secure_url" content="/img/logo_only.png" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="og:url" content="https://www.hackdotslash.co.in">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google" content="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>DotSlash</title>
  <link rel="shortcut icon" type="image/png" href="/img/logo_only1.png" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800i|Amaranth:700i|Kanit:700i|Lato:900i|Lato|Source+Sans+Pro:900i"
    rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

  <!-- Owl Carousel -->
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/owl.theme.default.css">

  <!-- Font Awesome Icon -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="./css/herostyles.css">
  <link rel="stylesheet" href="./css/background.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css">
  <style>
    .rotate {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
    }
  </style>

</head>

<body>
  <div style="overflow-x: hidden;">
    <!-- Hero -->
    <div class="hero" id="home">
      <div class="hero__background">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
      </div>
      <!-- Header -->
      <header id="header" class="transparent-navbar">
        <!-- container -->
        <div class="container">
          <!-- navbar header -->
          <div class="navbar-header">
            <!-- Logo -->
            <div class="navbar-brand">
              <a class="logo" href="/">
                <img class="logo-alt-img" src="./img/logo_only1.png" alt="logo" />
                <img class="logo-img" src="./img/logo_only1.png" alt="logo">
              </a>
            </div>
            <!-- /Logo -->

            <!-- Mobile toggle -->
            <button class="navbar-toggle">
              <i class="fa fa-bars"></i>
            </button>
            <!-- /Mobile toggle -->
          </div>
          <!-- /navbar header -->

          <!-- Navigation -->
          <nav id="nav">
            <ul class="main-nav nav navbar-nav navbar-right">
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#prizes">Prizes</a></li>
              <li><a href="#sponsors">Sponsors</a></li>
              <li><a href="#faq">FAQs</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
          <!-- /Navigation -->
        </div>
        <!-- /container -->
      </header>
      <div class="hero__content">
        <div class="row">
          <div class="hero__content__details">
            <div class="hackathon__details">
              <h1 class="hackathon__details__title"><span>Dot</span><span>Slash</span><span> 4.0</span></h1>
              <div class="hackathon__details__discription">
                <div>Root to ideas</div>
              </div>
              <div class="chat">
                <div class="header chat__header">
                  <div class="header__title">Dotslash Server</div>
                  <div class="header__members">
                    <div class="header__member"></div>
                    <div class="header__member header__member--server"></div>
                  </div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">Hey Server</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">Hey Folk 👋</div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">What is the date of hackathon?</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">It's 30-31st Jan 2021</div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">OK</div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">What's the last date of registration?</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">6th Jan 2021</div>
                </div>
                <div class="message message--browser">
                  <div class="message__content">What is the mode of conduct?</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">Online</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">Anything else??</div>
                </div>
                <div class="message message--server">
                  <div class="message__content">You still there??</div>
                </div>
                <div class="message message--left">
                  <div class="message__content">Server left the chat</div>
                </div>
                <div class="message message--typing message--browser">
                  <div class="message__content">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="countdown__wrapper">
              <p>
                Hackathon starts in
              </p>
              <div id="timer" class="countdown"></div>
            </div>
            <div class="registration__details">
              <button class="register" onclick="register()">Register</button>
            </div>
          </div>
          <div class="hero__content__banner">
            <img class="banner_img animated rotateIn delay-1s" src="./img/main_banner.png" alt="banner">
            <div class="hero__content__banner_slogan">
              <div class="animated delay-5s fadeOut">
                <span class="fadeIn animated delay-1s">
                  Register
                </span>
                <span class="fadeIn animated delay-2s">
                  Compete
                </span>
                <span class="fadeIn animated delay-3s">
                  Win
                </span>
                <span class="fadeIn animated delay-4s">
                  Brag
                </span>
              </div>
              <div class="save_the_date zoomIn animated delay-5s">
                Save the Date
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- /Hero -->


    <!-- About -->
    <div id="about" class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- section title -->
          <div class="section-title">
            <h3 class="title"><span>About</span> <span style="color: #bd0c0e;">DotSlash</span></h3>
          </div>
          <!-- /section title -->

          <div class="college" style="text-align:center; margin-top:-20px;">

            <img src="./img/ashine.png" alt="logo" style="height:120px;width:120px;border-radius:50%;">
            <img src="./img/svnit.png" alt="logo" style="height:120px;width:120px;border-radius:50%;">

          </div><br><br>

          <div class="col-md-8 col-md-offset-2 text-center">
            <!-- about content -->
            <div class="about-content">
              <p>The Sardar Vallabhbhai National Institute of Technology, Surat (NIT Surat), perceives to be a globally
                accepted centre of excellence in technical education catalysing the transfer of high technologies
                resulting in enhanced quality. Ashine research park, SVNIT brings to you <b>DotSlash-an inception
                  towards
                  letting our innovations begin.</b> </p>
              <br>
              <p>DotSlash​ is a 30 hours long hackathon which is completely managed by students of SVNIT, Surat. It is a
                platform for developers around the world to use their innovative skills to produce something new and
                useful for the society.
              </p>
              {{!-- <a
                href="https://join.slack.com/t/dotslashhackathon/shared_invite/enQtODY3MjMwOTIxOTA5LTU1YjdhZWUyOTMwZjk3MTU3NDkyNTlkMWQ0MzNiZTE5ZjRiM2FiYWM3NjdhNzdmM2UzNGZjMWUzMDQ2M2YyN2I"
                target="_blank"><button id="slackBtn"><i class="fa fa-slack"></i> Slack Channel</button></a> --}}
            </div>
            <!-- /about content -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /About -->

    <!-- Galery -->
    <div id="galery">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- galery owl -->
          <div id="galery-owl" class="owl-carousel owl-theme">
            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_1.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_2.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_3.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_4.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_5.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_6.jpg" alt="">
            </div>
            <!-- /galery item -->

            {{!--
            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_7.jpg" alt="">
            </div>
            <!-- /galery item --> --}}

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_8.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_9.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_10.jpg" alt="">
            </div>
            <!-- /galery item -->

            {{!--
            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_12.jpg" alt="">
            </div>
            <!-- /galery item --> --}}

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_15.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_13.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_14.jpg" alt="">
            </div>
            <!-- /galery item -->

            <!-- galery item -->
            <div class="galery-item">
              <img src="./img/galery/new_11.jpg" alt="">
            </div>
            <!-- /galery item -->

          </div>
          <!-- /galery owl -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /Galery -->


    <div class="container tracks section">
      <br><br>
      <div class="row">
        <div class="col-xs-12">
          <div class="section-title">
            <h3 class="title"><span style="color: #0b0f28">The &nbsp;</span><span> Hackathon</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="row">
        {{!-- <div class="col-xs-4">
          <h3>Blockchain</h3>
          <img src="img/blockchain.jpg" class="img-responsive" alt="">
          <p>A blockchain is a time-stamped series of immutable records of data bound together by cryptographic rules
            and managed by a cluster of computers not owned by any single entity.
            <br>We invite you to brainstorm and create applications that uses this awesome new technology.
            <br> <b style="color:  #bd0c0e;">The track will be open with no predefined problem statement</b>
          </p>
        </div> --}}
        <div class="col-md-8 col-md-offset-2">
          <div class="row" style="text-align:center">
            <img src="img/soft.svg" alt="" style="margin: 0 auto; width: auto;">
          </div>
          <div class="row text-center" style="margin: auto 20px;">
            <p>Explore the realms of Web and Mobile based applications while developing your ideas. You
              are free to use any framework and any code fragment, until and unless it is open sourced.</p>
            <p>
              The limits are endless and the possiblities are infinite.
            </p>
            <b style="color:  #bd0c0e;">Problem Statement will be provided at the time of The Event.</b>
          </div>
          <br>
          <br>
        </div>
        {{!-- <div class="col-xs-6">
          <h2 style="color: #bd0c0e">Hardware</h2>
          <img src="img/hardware.png" class="img-responsive" alt="" style="margin: 0 auto; width: auto;">
          <p style="margin-bottom:5px;">Want to develop your ideas to interact with the physical world? Under this track
            you can use any microcontroller or microprocessor with any interfacing peripheral to achieve your goal.
            <br>If you have some special hardware requirements, we request you to bring those alongwith.
            <br><b style="color:  #bd0c0e;">The track will contain problem statements.</b>
          </p>
        </div> --}}
        <br>
      </div>


      <!-- PRIZES -->
      <div id="prizes" class="section">
        <div class="container">
          <div class="row">
            <div class="row">
              <div class="section-title">
                <h3 class="title"><span>Prizes</span></h3>
              </div>
            </div>
            <h2 style="text-align: center;">Worth more than 33 Lakhs!!</h2>
            <div class="col-md-4 col-sm-4 col-xs-12 flip">
              <div class="front content text-center" style="background: linear-gradient(to top left, #F7736F, #F5372A)">
                <h2>1st Prize</h2>
                {{!-- <h1>&#x20B9; 10,000</h1> --}}
                <p>
                  To be announced...
                <p>
              </div>
              <div class="back">
                <h2 class="content text-center">Details</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel eum totam cumque corrupti obcaecati
                  magni?
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 flip">
              <div class="front content text-center"
                style="background: linear-gradient(to top left, #48c6ef, #6f86d6);">
                <h2>2nd Prize</h2>
                <p>
                  To be announced...
                <p>
              </div>
              <div class="back">
                <h2 class="content text-center">Details</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel eum totam cumque corrupti obcaecati
                  magni?
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 flip">
              <div class="front content text-center" style="background: linear-gradient(to top left, #1AF589, #15C26C)">
                <h2>3rd Prize</h2>
                <p>
                  To be announced...
                <p>
              </div>
              <div class="back">
                <h2 class="content text-center">Details</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel eum totam cumque corrupti obcaecati
                  magni?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Current-Sponsors -->
      <div id="sponsors" class="section">
        <!-- container -->
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h3 class="title"><span style="color: #0b0f28">Our &nbsp;</span><span style="color: #bd0c0e;">sponsors</span>
              </h3>
            </div>
            <div style="display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;">
              <a href="https://www.github.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/github-logo.jpg" alt="">
              </a>
              <a href="https://www.digitalocean.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/digitalocean.png" alt="">
              </a>
              <a href="https://www.wolfram.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/wolfram.jpg" alt="">
              </a>
              <a href="https://www.sashido.io/en/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/sashido.png" alt="">
              </a>
              <a href="https://www.echoar.xyz/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/echoAR.png" alt="">
              </a>
              <a href="https://www.clerky.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/clerky-logo.svg" alt="" style="width: 15rem;">
              </a>
              <a href="https://givemycertificate.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/give_me_certificate.jpeg" alt="">
              </a>
              <a href="https://www.careernaksha.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/CareerNaksha.jpeg" alt="">
              </a>
              <a href="https://www.axure.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/axure.png" alt="">
              </a>
              <a href="https://interwebs.host/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/interwebshost.png" alt="">
              </a>
              <a href="https://www.hackathonsinternational.com/" target="_blank" class="sponsor"
                rel="noopener noreferrer">
                <img src="img/Hackathons_International_Logo.png" alt="">
              </a>
              <a href="https://balsamiq.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/balsamiq.svg" alt="">
              </a>
              <a href="https://www.producthunt.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/profucthunt-logo.png" alt="" style="width: 15rem;">
              </a>
              <a href="https://rosenfeldmedia.com/" target="_blank" class="sponsor" rel="noopener noreferrer">
                <img src="img/rosenfeld.jpg" alt="">
              </a>
            </div>
            <!-- /row -->
          </div>
          <!-- /container -->
        </div>
        <!-- /Sponsors -->
      </div>
      <!-- become-sponsor -->
      <div id="become-sponsor" class="section">
        <img class="dotted-line" src="img/background_dotted_line.svg" alt="line">
        <div class="section-title">
          <div class="container">
            <div class="row">
              <div class="section-title">
                <h3 class="title"><span>Want to become a sponsor?</span></h3>
              </div>
            </div>
            <div class="row">
              <h4> Contact us at <a href="mailto:darshil@hackdotslash.co.in">darshil@hackdotslash.co.in</a> </h4>
              <a href="./assets/Brochure.pdf" download="Brochure" class="main-btn">Download Brochure</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /become-sponsor -->


      <!-- FAQS -->

      <div id="faq" class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- section title -->
            <div class="section-title"
              style="display: flex; flex-wrap: wrap-reverse; flex-flow: column-reverse; align-items: center; justify-content: center;">
              <div style="display: flex;">
                <h3 class="title"><span style="color: #0b0f28">Frequently Asked &nbsp;</span><span
                    style="color: #bd0c0e;">Questions</span></h3>
              </div>
              <img src="img/faq.svg" alt="faq">
            </div>
          </div>

          <div class="container">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
              <div class="row faqs">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 " id="accordion">
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow0" href="#num1"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img0">play_arrow</i></span>Who
                    can participate?

                  </h3>
                  <p class="collapse box1" id="num1">All students irrespective of any course are eligible to apply.
                    If you
                    are under 18 years of age, we'll need a
                    parental consent form. </p>
                  <br>
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow1" href="#num2"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img1">play_arrow</i></span>What is the Registration
                    fee for
                    hackathon?
                  </h3>
                  <p class="collapse box1" id="num2">Glad you asked. <b>Its completely Free!!!</b></p>
                  <br>
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow2" href="#num3"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img2">play_arrow</i></span>How
                    does the application
                    process
                    work?
                  </h3>
                  <p class="collapse box1 box" id="num3">We’re looking for people who "do"! Folks who are
                    passionate enough to work on crazy world-changing ideas. We’ll
                    get to know more about your abilities from the past projects, GitHub profile,
                    participation/awards in
                    other
                    hackathons.
                  </p>
                  <br>
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow3" href="#num4"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img3">play_arrow</i></span>Can
                    we apply as a team?

                  </h3>
                  <p class="collapse box1" id="num4">Yes! This hackathon is a team competition. Most teams aim to
                    have a mix of people with both design and developer skills.
                    You can have a maximum of 3 members per team. If you don't have a team, you can participate
                    individually. We'll have
                    team formation at the time of hackathon.</p>
                  <br>
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow4" href="#num5"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img4">play_arrow</i></span>What do I get by
                    attending
                    DotSlash?
                  </h3>
                  <p class="collapse box1" id="num5">Pretty much everything from socializing with fellow hacker
                    communities. And yeah we’ll have prizes for 1st, 2nd, 3rd
                    place. Most of all, you will gain an unparalleled learning experience and memories for a
                    lifetime!

                    You will also get a cool geeky T-Shirt, Certificate of Participation and a bag full of schwags.
                  </p>
                  <br>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow8" href="#num9"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000 text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img8">play_arrow</i></span>What will be the theme
                    for DotSlash?
                  </h3>
                  <p class="collapse box1" id="num9">Not to worry, you will be provided with variety of theme
                    options, once
                    you get selected.</p>
                  <br>
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow9" href="#num10"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img9 ">play_arrow</i></span>What is the registration
                    procedure?

                  </h3>
                  <p class="collapse box1" id="num10">You have to apply online. Once you are selected we will inform
                    you
                    about the remaining procedure.</p>
                  <br>
                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow10" href="#num11"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img10">play_arrow</i></span>What if I've never been
                    to a
                    hackathon before?
                  </h3>
                  <p class="collapse box1" id="num11">Then we're so glad DotSlash will be your first ever! It’s
                    helpful to
                    have some programming or technical experience,
                    but it’s not a requirement. We’ll have talks, mentors and workshops to help you with your
                    project.</p>
                  <br>

                  <h3 data-parent="#accordion" data-toggle="collapse" class="box arrow12" href="#num13"
                    style="cursor: pointer; font-weight: 300; text-decoration: none; color:#000">
                    <span style="vertical-align: sub"><i
                        class="material-icons prefix arrow-img12">play_arrow</i></span>What will be the mode of
                    conduct of hackathon?
                  </h3>
                  <p class="collapse box1" id="num13">Due to the current pandemic situation, mode of conduct will be
                    online this year</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /FAQS -->

      <!-- CTA -->
      <div id="cta" class="section">
        <!-- background image -->
        <div class="section-bg" style="background-image:url(./img/background004.jpg);"
          data-stellar-background-ratio="0.5">
        </div>
        <!-- /background image -->

        <!-- container -->
        <div class="container">
          <!-- container -->
          <div class="row">
            <!-- cta content -->
            <div class="col-md-8 col-md-offset-2">
              <div class="cta-content text-center">
                <h2>Registrations started</h2>
                <p class="lead">Our focus is on letting your imagination flow free and enable you to push the
                  boundaries of
                  what can be done. We're open for all! We'll take care of the food and stay - virtually leaving
                  you no excuse to not build something that'll blow our minds.</p>
                {{!-- <button class="" id="devfolio-apply-now2">Apply with Devfolio</button> --}}
                <button class="register" onclick="register()">Register</button>

              </div>
            </div>
            <!-- /cta content -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </div>
      <!-- /CTA -->

      <!-- Contact -->
      <div id="contact" class="section">
        <!-- container -->
        <div class="container">
          <!-- row -->
          <div class="row">
            <!-- section title -->
            <div class="section-title">
              <h3 class="title"><span style="color: #0b0f28">Contact &nbsp;</span><span
                  style="color: #bd0c0e;">Info</span>
              </h3>
            </div>
            <!-- /section title -->

            <!-- contact -->
            <div class="col-sm-4">
              <div class="contact">
                <h3>Venue</h3>
                <p>Your Humble Abode</p>
              </div>
            </div>
            <!-- /contact -->

            <!-- contact -->
            <div class="col-sm-4">
              <div class="contact">
                <h3>Email</h3>
                <a href="mailto:darshil@hackdotslash.co.in">darshil@hackdotslash.co.in</a>
              </div>
            </div>
            <!-- /contact -->

            <!-- contact -->
            <div class="col-sm-4">
              <div class="contact">
                <h3>Mobile</h3>
                <a href="tel:+91 97129 89101">&nbsp;&nbsp;<b>+91 97129 89101</b> - Darshil Savaliya</a><br>
                <a href="tel:+91 70166 05695"><b>+91 70166 05695</b> - Yamini Kabra</a>
              </div>
            </div>
            <!-- /contact -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->

      </div>
      <!-- /Contact -->
    </div>
    <!-- Footer -->
    <footer id="footer">
      <!-- container -->
      <div class="wave_box container">
        <!-- row -->
        <div class="row">
          <!-- footer logo -->
          <div class="col-md-4">
            <div class="footer-brand">
              <a class="logo" href="/">
                <img class="logo-img" src="./img/logo_only1.png" alt="logo" />
              </a>
              <span>Dot</span><span>Slash</span><span> 4.0</span>
            </div>
          </div>
          <!-- /footer logo -->

          <!-- contact social -->
          <div class="col-md-8">
            <div class="contact-social">
              <a href="https://www.facebook.com/hackatdotslash/" rel="noopener noreferrer" target="_blank"><i
                  class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/hackatdotslash" rel="noopener noreferrer" target="_blank"><i
                  class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/hackatdotslash/" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/hackatdotslash/" rel="noopener noreferrer" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
              <a href="mailto:hackatdotslash@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
          <!-- /contact social -->
          <div class="coc">
            <a href="/coc">Code of Conduct</a>
          </div>
          <div class="copyright">
            ©2021 DOTSLASH
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </footer>
    <!-- /Footer -->
  </div>
  <!-- jQuery Plugins -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
  <script src="./js/countdown.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="./js/chatroom.js"></script>
  <script src="js/main.js"></script>
  <script>
    for (let i = 0; i < 13; i++) {
      $('.arrow' + i).on("click", function (event) {
        $('.arrow-img' + i).toggleClass('rotate');
      });
    }
  </script>

</body>

</html>